.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.myImage {
  width: 20%;
  border-radius: 50%;
}

.about-text {
  max-width: 800px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.imageGallery {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.galleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
