.hero-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  flex-wrap: wrap;
}

.about-ul {
  padding: 0;
  max-width: 450px;
}

.hero-about ul li {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
}
.hero-about ul li span {
  font-weight: 700;
  color: var(--gray);
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.imgBox {
  position: relative;
  text-align: center;
  color: var(--gray);
  padding: 10px;
}
.imgBox:hover {
  transform: scale(1.02);
}

.imgBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.imgBox span {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 0.2em;
  font-size: 0.8em;
}
.galleryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.better {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.better span {
  font-style: italic;
}
.hero-image {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1em;
  max-width: 400px;
}
.hero-image img {
  width: 60%;
}
.hero-image img:hover {
  scale: 1.01;
}
.heroText {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 1em;
}
