.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.posts,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.post {
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
}
.posts {
  width: 60%;
}
.categories {
  font-size: 0.9em;
  margin-top: 10em;
  position: fixed;
  width: 15%;
  height: max-content;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: white;
  border: 1px solid var(--lighter-gray);
  border-radius: var(--border-radius);
  padding-right: 1em;
}
.postImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1em;
}
.postImage {
  max-width: 100%;
}
.excerpt {
  display: none;
  margin-top: 0;
  padding-top: 0;
  gap: 1em;
}
.readMore {
  border: none;
  margin-top: 1em;
  font-style: italic;
  text-decoration: none;
  color: var(--gray);
}
.titleDecoration {
  padding: 0.5em;
}
.category-item:hover,
.category-item:active {
  text-decoration: underline;
  cursor: pointer;
  color: var(--pink);
}
.extraMargin {
  margin-top: 6em;
}
