.posts,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.post {
  width: 40em;
  border: 1px solid var(--gray);
  padding: 3em;
  border-radius: 5px;
}
.postImg {
  width: 30em;
}
.postImage {
  width: 100%;
  border-radius: 5px;
}
.excerpt {
  display: none;
  margin-top: 0;
  padding-top: 0;
}
.readMore {
  border: none;
  background-color: none;
  margin-top: 1em;
}
