.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.posts,
.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
.post {
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
}
.posts {
  width: 60%;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: max-content;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  gap: 1em;
}
.postBlogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 1em;
}
.postImage {
  max-width: 100%;
}
.excerpt {
  display: none;
  margin-top: 0;
  padding-top: 0;
  gap: 1em;
}
.readMore {
  border: none;
  margin-top: 1em;
  font-style: italic;
  text-decoration: none;
  color: var(--gray);
}
.titleDecoration {
  padding: 0.5em;
}

.extraMargin {
  margin-top: 6em;
}
.headingContainer {
  text-align: center;
}
.categoryList ul {
  cursor: pointer;
  text-align: center;
  padding: 0.4em 0.8em;
  border: 1px solid var(--lighter-pink);
  border-radius: var(--border-radius);
  margin: 0;
}
.categoryList ul:hover,
.categoryList ul:active {
  background-color: var(--pink);
  color: white;
  box-shadow: var(--box-shadow);
}

.card-actions {
  margin: 8px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
#load-more {
  width: 30%;
  background-color: white;
  color: var(--gray);
  font-size: 0.8em;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
#load-more:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}
#load-more[disabled] {
  background-color: #eaeaea !important;
}
