.new-component-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  gap: 2em;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  background-color: var(--lighter-pink);
  padding: 1em 1em 2em 1em;
}
.post-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  gap: 1em;
  border: 1px solid var(--lighter-pink);
  border-radius: var(--border-radius);
  background-color: var(--light-pink);
  width: 15em;
  height: 20em;
}
.post-card:hover,
.post-card:active {
  background-color: white;
}

.componentImage {
  margin-top: 1em;
  width: 100%;
  height: 10em;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.componentImage img {
  width: 100%;
}
.alignDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--lighter-pink);
}
