.validation {
  margin: 1em;
}
.contactInfo {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: var(--lighter-gray);
  color: var(--gray);
  border-radius: 10px;
  padding: 2em;
}
.contactIcon {
  font-size: 2em;
}
.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.infoText {
  font-size: 0.9em;
}
.validationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.contactSpan {
  font-style: italic;
  max-width: 600px;
  text-align: center;
}
.contact-form {
  width: 100%;
  max-width: 600px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.form-group label {
  font-size: 0.8em;
}
.contactInput {
  background-color: var(--lighter-gray);
  width: 100%;
  border: none;
  border-radius: 10px;
}
.form-group span {
  color: red;
  right: 2em;
  font-size: 0.8em;
  margin-left: auto;
}
.checkIcon {
  color: seagreen;
  font-size: 1.5em;
}
.btn {
  width: 100%;
}
