.validation {
  margin: 1em;
}
.contactInfo {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid var(--gray);
  color: var(--gray);
  padding: 1em;
  gap: 2em;
}
.contactIcon {
  font-size: 2em;
}
.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
.infoText {
  font-size: 0.9em;
}
.validationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  margin-top: 3em;
  margin-bottom: 3em;
}
.contactSpan {
  font-size: 1.1em;
  margin-top: 1em;
  font-style: italic;
  max-width: 600px;
  text-align: center;
}
.contact-form {
  width: 100%;
  max-width: 600px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.form-group label {
  font-size: 0.8em;
}
.contactInput {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 10px;
}
.form-group span {
  color: red;
  right: 2em;
  font-size: 0.8em;
  margin-left: auto;
}
.checkIcon {
  color: seagreen;
  font-size: 1.5em;
}
.buttonSubmit {
  margin-top: 2em;
  padding: 1.3em;
  border: none;
  background-color: var(--gray);
  color: white;
  border-radius: 10px;
}
.overlayMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  gap: 1em;
  padding: 2em;
  text-align: center;
  z-index: 1000;
  border-radius: 10px;
}
.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.spanOverlay {
  margin: 1em;
}
