.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  color: var(--gray);
}
.footerBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em 0 1em 0;
}
.footer-gap {
  gap: 4em;
}
.gap {
  gap: 0.5em;
}
#footerIcon {
  font-size: 1.5em;
  cursor: pointer;
}
.netlifyLink {
  padding: 0.4em 1.5em;
  border-radius: 5px;
  border: none;
  background-color: var(--gray);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 0.7em;
}
