body,
html {
  height: 100%;
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    var(--lighter-pink)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  color: var(--gray);
}
body {
  margin-top: 7em;
}

:root {
  --pink: #f2637e;
  --light-pink: #f2889b;
  --lighter-pink: #f2acb9;
  --gray: rgb(83, 83, 83);
  --lighter-gray: #f2f2f2;
  --border-radius: 10px;
}
p {
  margin: 0;
  padding: 0;
  max-width: 800px;
  text-align: start;
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  text-align: left;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  padding: 0;
  margin: 0.5em;
  text-align: center;
  color: var(--gray);
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: var(--gray);
}

img {
  border-radius: var(--border-radius);
}
button {
  border-radius: var(--border-radius);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-main {
  padding: 1em 4em;
  background-color: var(--pink);
  color: white;
  margin-left: auto;
}
.button-main:hover,
.button-main:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sizeBtn {
  color: black;
}
input {
  border-radius: var(--border-radius);
  border-style: none;
  height: 3em;
}
.loading {
  margin-top: 3em;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 1.5s infinite;
}

.dot1 {
  animation-delay: 0s;
}

.dot2 {
  animation-delay: 0.5s;
}

.dot3 {
  animation-delay: 1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
a.more-link {
  display: none;
}
.date {
  color: var(--gray);
  font-size: 0.9em;
  margin-top: 1em;
}
.biggerDate {
  font-size: 1.1em;
  color: var(--gray);
}
form {
  resize: none;
}
.btnCTA {
  background-color: var(--light-pink);
  color: white;
  font-size: 1em;
  padding: 0.7em 2em;
  width: 30%;
}
.linkToBlog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
  font-style: italic;
}
