.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-gray);
  height: 30em;
  width: 100%;
  padding: 2em;
  border-bottom: var(--lighter-gray);
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 100%;
}
.searchInput {
  width: 40em;
}
