.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-gray);
  height: 30em;

  padding: 2em;
  border-bottom: var(--lighter-gray);
  text-align: center;
}
.search-bar {
  margin: 1em;
  width: 100%;
}
.searchInput {
  width: 70%;
}
