.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lighter-gray);
  padding: 1em;
  border-bottom: var(--lighter-gray);
  text-align: center;
}
.search-bar {
  margin: 1em;
  width: 100%;
}
.searchInput {
  width: 70%;
}
.carousel {
  margin: 2em;
  gap: 1em;
  display: flex;
  overflow: hidden;
  width: 80%;
  transition: transform 0.3s ease-in-out;
}
.postCard {
  flex: 0 0 25%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  min-width: 10em;
  max-width: 10em;
}
.postCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.imgDiv {
  width: 100%;
}
.postImg {
  width: 10em;
}
.heroText {
  max-width: 60em;
  margin-bottom: 2em;
}
.bold {
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.slide-arrow {
  cursor: pointer;
  color: var(--gray);
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#arrow {
  font-size: 2em;
}
.styleH2 {
  letter-spacing: 0.1em;
  color: var(--gray);
  margin-bottom: 0;
  margin-top: 1em;
}
