@media (max-width: 1032px) {
  .postHomePage {
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: max-content;
  }
  .secondBox {
    padding: 0.3em;
  }

  .posts {
    width: 80%;
  }
}

@media (max-width: 963px) {
  .heroText {
    gap: 0;
  }
  .navList ul {
    gap: 1.6em;
    font-size: 0.9em;
  }
  .hero-section {
    flex-direction: column-reverse;
    gap: 0;
    margin: 0;
    margin-bottom: 2em;
  }
  .hero-image {
    width: 90%;
  }
  .hero-image img {
    width: 15em;
  }
  .hero-box {
    width: 90%;
  }
}
@media (max-width: 785px) {
  .logoImg {
    width: 12em;
  }

  .postImg {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }
  .posts {
    width: 90%;
  }
  .hero-box {
    max-width: 600px;
  }
}

@media (max-width: 655px) {
  .new-component-container {
    padding: 1em;
  }
  .post-card {
    width: 80%;
  }
}
@media (max-width: 612px) {
  .modalContent {
    margin-top: 6em;
  }
  .contactInfo {
    flex-wrap: wrap;
  }
  #validationLeftDiv {
    font-size: 95%;
  }
  .dotCarousel {
    display: none;
  }
  #load-more {
    width: 70%;
  }
}

@media (max-width: 594px) {
  .container {
    margin: 2em 0 0 0;
  }
  h2 {
    margin: 0;
    margin-bottom: 0.7em;
    font-size: 1.5em;
  }
  .postImage {
    width: 100%;
  }
  #animatedText {
    font-size: 1.5em;
  }

  #validationLeftDiv {
    font-size: 90%;
    flex-direction: column;
  }
  .navContainer {
    justify-content: space-between;
    padding-top: 0;
  }
  .logoImg {
    margin-left: 1em;
  }
  .navToggle {
    display: block;
    margin: 2em 1em 0 0;
  }
  .navList {
    display: none;
  }
  .search-bar input {
    width: 90%;
  }
  .searchIcon {
    top: 35%;
    right: 20px;
  }
  .color {
    margin-top: 2em;
    padding: 1.2em 6em;
  }
  .linkList {
    padding: 0;
  }
  .postHomePage img {
    width: 90%;
  }

  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 25em;
    top: 5em;
    right: 0;
    text-align: center;
    background: var(--lighter-pink);
  }

  .navList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    gap: 3em;
  }
  .navList ul li a {
    font-size: 1em;
  }

  form {
    display: block;
  }
  .myImage {
    max-width: 70%;
  }

  .footer-gap {
    gap: 2em;
  }
  .netlifyLink {
    padding: 0.4em 1.2em;
    font-size: 0.8em;
  }
}
