@media (max-width: 1032px) {
  .postHomePage {
    flex-direction: column;
    width: 100%;
    height: max-content;
  }
  .postHomePage img {
    width: 100%;
  }
  .secondBox {
    padding: 0.3em;
  }
}
@media (max-width: 785px) {
  .logoImg {
    margin: 1em;
    width: 14em;
  }

  .navList ul {
    gap: 1.4em;
  }

  .postImg {
    width: 100%;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    height: max-content;
    width: 100%;
    margin-top: 1em;
  }
  .container {
    flex-direction: column;
  }
  .posts {
    width: 90%;
  }
}
@media (max-width: 612px) {
  .modalContent {
    margin-top: 6em;
  }
  #arrow {
    font-size: 2em;
  }
  .contactInfo {
    flex-wrap: wrap;
  }
  .myImage {
    width: 60%;
  }
}

@media (max-width: 594px) {
  .navToggle {
    display: block;
  }
  .navList {
    display: none;
  }

  .search-bar input {
    width: 90%;
  }
  .searchIcon {
    top: 35%;
    right: 20px;
  }
  .color {
    margin-top: 2em;
    padding: 1em 5em;
  }

  .linkList {
    position: fixed;
    width: 100%;
    height: 25em;
    background-color: white;
    top: 7em;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0;
    background: linear-gradient(
      to bottom,
      white,
      white,
      white,
      var(--lighter-pink)
    );
  }
  .linkList a {
    font-size: 1.3em;
  }
  .navList li {
    font-size: 3.5em;
    display: block;
    margin-bottom: 2em;
  }

  form {
    display: block;
  }

  .logoDiv {
    margin-left: auto;
  }

  .footer-gap {
    gap: 2em;
  }
  .netlifyLink {
    padding: 0.4em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 550px) {
}
