@media (max-width: 1032px) {
  .postHomePage {
    flex-direction: column;
    width: 100%;
    height: max-content;
  }
  .postHomePage img {
    width: 100%;
  }
  .secondBox {
    padding: 0.3em;
  }
  .hero-box {
    padding-right: 4em;
  }
  .hero-section {
    padding: 0;
    padding-left: 1em;
    height: 550px;
  }
}
@media (max-width: 785px) {
  .hero-box {
    padding-left: 2em;
    max-width: 23em;
  }
  .logoImg {
    width: 12em;
  }
  .navList ul {
    gap: 1.4em;
  }
  .postImg {
    width: 100%;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    height: max-content;
    width: 100%;
    margin-top: 1em;
  }
  .container {
    flex-direction: column;
  }
  .posts {
    width: 90%;
  }
}
@media (max-width: 612px) {
  .modalContent {
    margin-top: 6em;
  }
  #arrow {
    font-size: 2em;
  }
  .contactInfo {
    flex-wrap: wrap;
  }
  .myImage {
    width: 60%;
  }
}

@media (max-width: 594px) {
  .navContainer {
    justify-content: space-between;
  }
  .logoImg {
    margin-left: 1em;
  }
  .navToggle {
    display: block;
    margin: 2em 1em 0 0;
  }
  .navList {
    display: none;
  }
  .search-bar input {
    width: 90%;
  }
  .searchIcon {
    top: 35%;
    right: 20px;
  }
  .color {
    margin-top: 2em;
    padding: 1.2em 6em;
  }

  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 25em;
    top: 7em;
    right: 0;
    text-align: center;
    background: linear-gradient(
      to bottom,
      white,
      white,
      white,
      var(--lighter-pink)
    );
  }

  .navList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    gap: 3em;
  }
  .navList ul li a:hover,
  .navList ul li a:active {
    text-decoration: 4px underline var(--pink);
  }

  form {
    display: block;
  }

  .footer-gap {
    gap: 2em;
  }
  .netlifyLink {
    padding: 0.4em 1em;
    font-size: 0.9em;
  }
  .btnCTA {
    font-size: 0.8em;
    padding: 1em 3em;
  }
  .hero-box {
    padding-left: 1em;
  }
}
