.singlePost,
.singlePost2,
.postHomePage,
.postHomePage a,
.postHomePage span,
.secondBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postHomePage {
  height: 25em;
  max-width: 1100px;
  width: 80%;
  gap: 1em;
  padding: 1em;
  border: 1px solid var(--lighter-gray);
  border-radius: var(--border-radius);
  background-color: white;
  margin-top: 1em;
  box-shadow: var(--box-shadow);
  margin-bottom: 2em;
}

.postHomePage.show {
  opacity: 1;
  transform: translateY(0);
}
.postHomePage span {
  max-width: 600px;
  margin-top: 1em;
}
.postHomePage img {
  width: 25em;
}
.sectionSinglePost {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
  background-color: var(--lighter-pink);
}
.secondBox {
  flex-direction: column;
  padding: 2em;
}
.italic {
  font-style: italic;
}
#star {
  margin: 1em 0 0 0.2em;
  font-size: 1.5em;
  color: var(--gray);
}
.postHomePage2 {
  display: flex;
  flex-direction: row-reverse;
}
